* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    display: flex;
}


/* Sidebar */

.sidebar {
    width: 220px;
    height: 100vh;
    background: #0b2c5f;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}


/* Main */

.main {
    flex: 1;
    padding: 20px;
    background: #f5f6fa;
}


/* Cards */

.cards {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}


/* Table */

table {
    width: 100%;
    background: white;
    border-radius: 10px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.status {
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.status.Pending {
    background: orange;
}

.status.InProgress {
    background: blue;
}

.status.Resolved {
    background: green;
}